**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Abby McLeod
- Eshaan Sharma
- Nora Zajzon
- Ryan Tjenalooi
- Zoe Gaidmore

# Research Question

Our research question is: Is there a correlation between a country's percent urban population and their happiness level index measured by the World Happiness index? The World Happiness Index describes the process of creating this value as the following: “it asks respondents to think of a ladder, with the best possible life for them being a 10 and the worst possible life being a 0. They are then asked to rate their own current lives on that 0 to 10 scale.” Could a country's GDP have an effect on happiness index since higher GDP can correlate to better living conditions and life styles? Could certain types of government lead to happier citizens? Does quality of life in urban areas differ from country to country, and if so, how does this correlate to happiness index?

## Background and Prior Work



Urbanization, or the percent of urban population, refers to how much of a country's population lives in an urban (city) area. We are using this as a measure of how urbanized a country is. A country's happiness level index is a 1 to 10 scale which measures how "happy" a country is, taking into account factors like life satisfaction, psychological well-being, health, community, and more.

The World Happiness Report has been used as a measure of determining the world's happiest countries by analzing six particular categories: gross domestic product (GDP) per capita, social support, healthy life expectancy, freedom to make life choices, generosity of the general population, and perceptions of internal and external corruption levels.<a name=\"cite_ref-1\"></a>[<sup>1</sup>](#cite_note-1) In recent years, researchers have investigated how urbanization, GDP, government types, and life expectancy correlate with happiness levels. Findings are still varied, however, with some studies showing positive correlations and others suggesting a complex lack of correlation. Findings from the report indicate that indeed, in many countries, happiness levels are higher in urban areas, but this trend is nuanced. For example, a comparison in the level of happiness between urban and rural populations in poorer regions, such as Sub-Saharan Africa, indicates higher levels of happiness among urban dwellers due to increased job opportunities and more service and infrastructural provisions, while some Western countries tend to show higher well-being indicators in rural areas due to less stress and closer communal bonding.

The idea of how a country's GDP can affect things such as quality of living has been researched extensively. More specific to our question is the idea of how living in urban, rurual, or suburban areas can affect someone's happiness. There has been much research around this already, pointing to the idea that people are more happy living in suburban "sweet spots" than they living in rural or urban areas<a name=\"cite_ref-2\"></a>[<sup>2</sup>](#cite_note-2). We are researching an intersection between these: rather than researching a country's GDP or something similar and comparing it to their happiness index score, we are researching how the urbanization of a country can correlate to the happiness index score of that country. Do more urbanized countries tend to be happier? If individuals are happier living in suburban areas, does that mean that moderately urbanized countries will be happiest?

In a study in 2020 conducted by the European Commission and Gallup analyzed the degree of urbanization's effect on happiness. This study asked 360,000 people across cities, towns, semi-dense areas, and rural areas of 117 countries to rate their lives on a scale from 0 to 10. The study found that on average, the percent of people in any country who gave their lives a score between 8 and 10 is 2-4% higher in cities than rural areas. The study recognizes that a variety of other factors could have contributed to this difference in happiness level between cities and rural areas. One of these factors they measured was access to financial resources. Differences in access to financial resources are most pronounced in low-income economies as the study found that 18% of rural residents reported having a bank account, while 30% of city residents reported having a bank account. Additionally, the study found that rural residents in lower-income economies were more likely than city residents to lack having enough money to buy food. Finally, the study measured support from frineds or relatives to help them in times of need. On average, the rural residents were less likely to report having support in times of need than city dwellers.<a name=\"cite_ref-3\"></a>[<sup>3</sup>](#cite_note-3) Overall, this study depicts how complex the idea of measuring happiness is as it cannot be narrowed down to a singular factor like degree of urbanization.

One key factor in the changing of happiness levels is the amount of greenery sustained during the changing from rural environments to urban environments. As urban population increases, access to green spaces and quality of ecosystems decrease, making this a topic of concern among urban planners. Jorge E. Patino studied one of the most urbanized regions in the world, Latin America and the Caribbean, where his discovered a positive correlation between access to urban green spaces and happiness levels in urban areas <a name=\"cite_ref-4\"></a>[<sup>4</sup>](#cite_note-4). There are however several other factors that need to be considered when studying the effects of urban green spaces and happiness levels. Patino also notes that in some cities, those with higher socioeconomic status access to better quality urban green spaces, which suggests that socioeconomic status could be a confounding variable that must be studied further. Additionally, he found that reports of happiness tended to be higher the older the respondant was. We want to discover exactly what factors, such as access to green spaces, are effected by urbanization, and how these factors contribute to happiness levels in urban populations.

Overall, while degree of urbanization may be a significant factor in determining the happiness level of people in a certain country, there are a variety of variables that contribute to determining the level of happiness for a population. Prior research suggests that happiness is a complex concept to measure, and variables such as GDP, government type, average life expectancy etc. can each play a role in the complexity of determining the happiness level for a country. Despite the amount of research done on this topic, determining if there is the correlation between a country's percent of urban population and their happiness level still remains to be answered. Furthermore, understanding the relationship that the aforementioned variables have with happiness level is an important aspect of this research topic to explore.

1. <a name=\"cite_note-1\"></a> [^](#cite_ref-1) Happiest Countries in the World 2024. *World Population Review*. https://worldpopulationreview.com/country-rankings/happiest-countries-in-the-worldbirds-arent-real-gen-z-misinformation.html
2. <a name=\"cite_note-2\"></a> [^](#cite_ref-2)  Thompson, Dennis. \"City vs. Country vs. Suburbs: Who’s Happier?\" *U.S. News*, 23 July 2024, [https://www.usnews.com/news/health-news/articles/2024-07-23/city-vs-country-vs-suburbs-whos-happier#:~:text=TUESDAY%2C%20July%2023%2C%202024%20](https://www.usnews.com/news/health-news/articles/2024-07-23/city-vs-country-vs-suburbs-whos-happier#:~:text=TUESDAY%2C%20July%2023%2C%202024%20)
3. <a name=\"cite_note-3\"></a> [^](#cite_ref-3) Dijkstra, Lewis, et al. (13 Aug 2021) The Degree of Urbanisation's Effect on Happiness. *Gallup*. https://news.gallup.com/opinion/gallup/315857/degree-urbanisation-effect-happiness.aspx#:~:text=The%20average%20levels%20of%20happiness,via%20the%20Gallup%20World%20Poll.
4. <a name=\"cite_note-4\"></a> [^](#cite_ref-4) Jorge E. Patino, Lina Martinez, Isabella Valencia, Juan C. Duque, Happiness, life satisfaction, and the greenness of urban surroundings,Landscape and Urban Planning, Volume 237, 2023, 104811, ISSN 0169-2046, https://doi.org/10.1016/j.landurbplan.2023.104811.

# Hypothesis

We believe that there is a positive correlation between percent urbanization population of country and country hapiness index. The reasoning behind this is that urban areas usually offer better job opportunities, health care, education, and social amenities; therefore, more comfort in life. Higher urbanization could spur economic growth because a large population is often tied to increased productivity, innovation, and consumer demand in the ways described above that boost GDP. Moreover, we hypothesize that factors like higher GDP per capita, democratic goverments, and higher average life expectancy will be positively correlated with happiness levels, as these variables typically allow for improved living conditions, robust social services, greater life quality, and increased personal stability.

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name: World Happiness Report Figure 2.1
  - Link to the dataset: https://worldhappiness.report/data/
  - Number of observations: 10
  - Number of variables: 143
  - This dataset contains data on 143 countries that describes the happiness level of each country along with the factors contributing to this level of happiness. The ladder score is the average of the past three years of survey, and the whiskers of the ladder score are also included. The other observations are numbers that each make up a percentage of the ladder score, with the observations being: GDP per capita, social support, healthy life expectancy, freedom, generosity, and perceptions of corruption. One thing that may be required in processing the data set would be turning the values of the observations that make up the ladder score into proportions to compare the effects each factor has on the ladder score.
- Dataset #2 (Urban Population Living in Slums)
  - Dataset Name: Share of the urban population living in slums, 2022
  - Link to the dataset: https://ourworldindata.org/urbanization
  - Number of observations: 2305
  - Number of variables: 4
  - This dataset has three important columns: country, year from 1999 - 2022, and percent of urban population living in slums. It shows the percent of urban population who live in slums where “A slum household is defined as a group of individuals living under the same roof lacking one or more of the following conditions: access to improved water, access to improved sanitation, sufficient living area, durability of housing, and security of tenure.”. This can be wrangled by adding a column with the percent living in slums to a dataframe that contains the urban population percent. This can add insight on a confounding variable where high urban population percent and low happiness index of country may be due to a high urban population slum percent.  
- Dataset #3
  - Dataset Name: Urban Population Growth (Annual %)
  - Link to the dataset: https://data.worldbank.org/indicator/SP.URB.GROW?end=2023&start=1961&view=chart
  - Number of observations: 269 countries/regions/zones
  - Number of variables: 62 years (1961 - 2023)
  - This dataset keeps track of one important piece of data, the percent annual growth in urban population for 269 countries and regions. It also includes observations for groups of countries based on size,  income level, conflict level, debt, and geography. Each column is a year and contains the percent change in urban population as a float. We can compare this data with the countries’ change in happiness for each of these years to see if there is a correlation between the urban growth and happiness levels. 

- Dataset #4
  - Dataset Name: Share of the population living in urban areas, 1960 to 2022
  - Link to the dataset: https://ourworldindata.org/urbanization 
  - Number of observations: 14,428
  - Number of variables: 4
  - This dataset contains 14,428 observations representing different countries by year, with years between 1960 and 2022. There are 4 variables: the country name, a code representing the country, the year, and the percent of the population that lives in an urban area. This dataset will be useful because we can use it to see the percent of urban population in each country per year. To wrangle this data, we can remove any observations with missing data, and we can also remove the country code, which tells us the same thing as the country name. There are also some random observations, such as “Low income countries,” “Upper-middle-income countries,” “World,” and more, which we will need to deal with.

- Dataset #5
  - Dataset Name: GDP per capita, current prices
  - Line to the dataset: https://www.imf.org/external/datamapper/NGDPDPC@WEO/OEMDC/ADVEC/WEOWORLD
  - Number of observations: 230
  - Number or variables: 50
  - This dataset contains 230 observations and 50 variables, providing information about the GDP per capita for countries, regions, and analytical groups around the world. The important variables in this dataset are 2024, which provides the GDP per capita for each observation in the year 2024, and 2023, which provides the GDP per capita for each observation in the year 2023. These metrics serve as proxies for factors such as a country's economic development and quality of life. To preprocess the dataset, we can remove the variables between 1980 and 2022 inclusive and between 2025 and 2029 inclusive because these years are not relevant, and we can remove region and analytical group observations, as we are focusing on data by country. Additionally, for observations with missing values for the variable 2024, we can fill in this value with the value for the variable 2023, or we can remove any observations with missing values for both 2023 and 2024.

We plan to combine all the different data sets by using countries as an index. Since a country with data from the same year can be combined without issue, we can easily add data about a country from a specific year to another dataset using the same country and the same year.

## Dataset #1 World Happiness Report Dataset

In [1]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
import pandas as pd

In [2]:
happiness_df = pd.read_csv("datasets/WorldHappinessReport2024.csv")
happiness_df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546,2.082
1,Denmark,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548,1.881
2,Iceland,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182,2.050
3,Sweden,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524,1.658
4,Israel,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193,2.298

In [3]:
#Shortening column names and dropping residual column because it is not relevant to our EDA
column_names = ['Country name', 'Ladder score', 'upperwhisker', 'lowerwhisker',
       'Log GDP per capita', 'Social support', 'Life expectancy', 'Freedom', 
       'Generosity', 'Corruption', 'Dystopia + residual']
happiness_df.columns = column_names
happiness_df = happiness_df.drop('Dystopia + residual', axis = 'columns')
happiness_df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Life expectancy,Freedom,Generosity,Corruption
0,Finland,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546
1,Denmark,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548
2,Iceland,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182
3,Sweden,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524
4,Israel,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193

In [4]:
#Looking for null values
happiness_df.isna().sum()

Country name          0
Ladder score          0
upperwhisker          0
lowerwhisker          0
Log GDP per capita    3
Social support        3
Life expectancy       3
Freedom               3
Generosity            3
Corruption            3
dtype: int64

In [5]:
#Finding the rows with the missing values
happiness_df.loc[happiness_df['Log GDP per capita'].isna()]

,Country name,Ladder score,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Life expectancy,Freedom,Generosity,Corruption
61,Bahrain,5.959,6.153,5.766,NaN,NaN,NaN,NaN,NaN,NaN
87,Tajikistan,5.281,5.361,5.201,NaN,NaN,NaN,NaN,NaN,NaN
102,State of Palestine,4.879,5.006,4.753,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#dropping these rows
happiness_df = happiness_df.dropna()
happiness_df.shape

(140, 10)

The numbers would be more contextualized if they represented the percent contribution to the ladder score, so the data will be changed to the value divided by the corresponding ladder score for each country.

In [7]:
happiness_df = happiness_df.assign(Prop_GDP = happiness_df['Log GDP per capita'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Social_Support = happiness_df['Social support'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Life_Expec = happiness_df['Life expectancy'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Freedom = happiness_df['Freedom'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Generosity = happiness_df['Generosity'] / happiness_df['Ladder score'])
happiness_df = happiness_df.assign(Prop_Corruption = happiness_df['Corruption'] / happiness_df['Ladder score'])
happiness_df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Log GDP per capita,Social support,Life expectancy,Freedom,Generosity,Corruption,Prop_GDP,Prop_Social_Support,Prop_Life_Expec,Prop_Freedom,Prop_Generosity,Prop_Corruption
0,Finland,7.741,7.815,7.667,1.844,1.572,0.695,0.859,0.142,0.546,0.238212,0.203075,0.089782,0.110968,0.018344,0.070534
1,Denmark,7.583,7.665,7.500,1.908,1.520,0.699,0.823,0.204,0.548,0.251615,0.200448,0.092180,0.108532,0.026902,0.072267
2,Iceland,7.525,7.618,7.433,1.881,1.617,0.718,0.819,0.258,0.182,0.249967,0.214884,0.095415,0.108837,0.034286,0.024186
3,Sweden,7.344,7.422,7.267,1.878,1.501,0.724,0.838,0.221,0.524,0.255719,0.204385,0.098584,0.114107,0.030093,0.071351
4,Israel,7.341,7.405,7.277,1.803,1.513,0.740,0.641,0.153,0.193,0.245607,0.206103,0.100804,0.087318,0.020842,0.026291

In [8]:
#removing old columns
happiness_df = happiness_df.drop(['Log GDP per capita', 'Social support', 'Life expectancy', 'Freedom', 
       'Generosity', 'Corruption'], axis = 'columns')
happiness_df.head()

,Country name,Ladder score,upperwhisker,lowerwhisker,Prop_GDP,Prop_Social_Support,Prop_Life_Expec,Prop_Freedom,Prop_Generosity,Prop_Corruption
0,Finland,7.741,7.815,7.667,0.238212,0.203075,0.089782,0.110968,0.018344,0.070534
1,Denmark,7.583,7.665,7.500,0.251615,0.200448,0.092180,0.108532,0.026902,0.072267
2,Iceland,7.525,7.618,7.433,0.249967,0.214884,0.095415,0.108837,0.034286,0.024186
3,Sweden,7.344,7.422,7.267,0.255719,0.204385,0.098584,0.114107,0.030093,0.071351
4,Israel,7.341,7.405,7.277,0.245607,0.206103,0.100804,0.087318,0.020842,0.026291

In [9]:
happiness_df.describe()

,Ladder score,upperwhisker,lowerwhisker,Prop_GDP,Prop_Social_Support,Prop_Life_Expec,Prop_Freedom,Prop_Generosity,Prop_Corruption
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
mean,5.530893,5.644057,5.417700,0.248967,0.203346,0.093806,0.113221,0.027542,0.027307
std,1.181247,1.165108,1.198051,0.058295,0.045912,0.024102,0.029188,0.015279,0.018912
min,1.721000,1.775000,1.667000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.631750,4.762250,4.503750,0.219967,0.190063,0.082304,0.101023,0.016618,0.012341
50%,5.800500,5.911000,5.676500,0.254904,0.207231,0.095255,0.110909,0.025741,0.023658
75%,6.426250,6.515250,6.338250,0.277394,0.226879,0.103766,0.126272,0.036053,0.037762
max,7.741000,7.815000,7.667000,0.508681,0.359730,0.205393,0.207596,0.092099,0.088150

## Dataset #2 Urban Population Living in Slums Data

In [10]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION 
slums = pd.read_csv('datasets/share-of-urban-population-living-in-slums.csv')
slums = slums.drop(columns = ["Code"])
slums = slums.rename(columns = {"Entity":"Country", "11.1.1 - Proportion of urban population living in slums (%) - EN_LND_SLUM":"Proportion of Urban Population living in Slums"})
slums = slums[ (slums['Country'] != 'Channel Islands') & \
   (slums['Country'] != 'Central and Southern Asian(UN)') & (slums['Country'] != 'Eastern and South-Eastern Asia (UN)') & \
   (slums['Country'] != 'Europe and Northern American (UN)') & (slums['Country'] != 'Latin America and the Caribbean (UN)') & \
   (slums['Country'] != 'Least Developed Countries (LDCs)') & (slums['Country'] != 'Small Island Developing States (SIDS)') & \
   (slums['Country'] != 'Sub-Saharan Africa (UN)') & (slums['Country'] != 'World') ]
slums = slums.dropna()
slums.head()

       Country  Year  Proportion of Urban Population living in Slums
0  Afghanistan  2006                                           63.60
1  Afghanistan  2008                                           63.60
2  Afghanistan  2010                                           64.81
3  Afghanistan  2012                                           67.25
4  Afghanistan  2014                                           69.69

## Dataset #3 Urban Growth Dataset

In [11]:
urban_growth_df = pd.read_csv('datasets/urban_growth.csv')
urban_growth_df = urban_growth_df.drop(columns = ['Country Code', '1960', 'Indicator Code', 'Indicator Name'])
urban_growth_df = urban_growth_df.dropna().set_index('Country Name')
urban_growth_df.head()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,2.147858,1.520329,1.357042,1.186472,1.001576,0.835371,0.358733,-0.119435,-0.265922,-0.406898,...,0.810669,0.793026,0.784578,0.771899,0.765986,0.762321,0.479958,0.342951,0.335381,0.300246
Africa Eastern and Southern,4.405490,4.521040,4.653809,4.764304,4.820568,4.838068,4.849351,4.900812,4.937732,4.807084,...,4.189536,4.282729,4.128189,4.021132,4.107633,4.090983,4.068589,3.987698,3.921473,3.914515
Afghanistan,5.239185,5.322099,5.366508,5.427080,5.479444,5.521405,5.532866,5.586701,5.596422,5.644844,...,4.531769,3.996008,3.452643,3.781557,3.850833,3.919287,4.185357,3.951857,3.675647,3.849603
Africa Western and Central,4.787421,4.812403,4.919917,4.986385,5.056661,4.889618,4.917762,4.952798,4.985370,4.961353,...,4.227751,4.178108,4.132520,4.095453,4.029439,3.967222,3.923804,3.852868,3.793811,3.770219
Angola,4.977924,5.151810,5.090493,4.967321,4.743085,4.496285,4.302405,4.283800,4.574056,5.239910,...,4.853340,4.751019,4.688145,4.620862,4.500115,4.402191,4.242778,4.111786,4.013086,3.918632

In [12]:
#getting country names only
countries_only = urban_growth_df.drop(index = ['Africa Eastern and Southern', 'Africa Western and Central', 'Arab World', 'Antigua and Barbuda', 'Bosnia and Herzegovina', 'Central African Republic', 'Central Europe and the Baltics', 'Caribbean small states', 'East Asia & Pacific (excluding high income)', 'Early-demographic dividend', 'East Asia & Pacific', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia', 'Euro area', 'European Union', 'Fragile and conflict affected situations', 'High income', 'Heavily indebted poor countries (HIPC)', 'IBRD only', 'IDA & IBRD total', 'IDA total', 'IDA blend', 'IDA only', 'Latin America & Caribbean (excluding high income)', 'Latin America & Caribbean', 'Least developed countries: UN classification', 'Low income', 'Lower middle income', 'Low & middle income', 'Late-demographic dividend', 'Middle East & North Africa', 'Middle income', 'Middle East & North Africa (excluding high income)', 'North America', 'OECD members', 'Other small states', 'Pre-demographic dividend', 'Pacific island small states', 'Post-demographic dividend', 'South Asia', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa', 'Small states', 'Sint Maarten (Dutch part)', 'East Asia & Pacific (IDA & IBRD countries)', 'Europe & Central Asia (IDA & IBRD countries)', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Middle East & North Africa (IDA & IBRD countries)', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income', 'World']) 
countries_only.head()

,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,2.147858,1.520329,1.357042,1.186472,1.001576,0.835371,0.358733,-0.119435,-0.265922,-0.406898,...,0.810669,0.793026,0.784578,0.771899,0.765986,0.762321,0.479958,0.342951,0.335381,0.300246
Afghanistan,5.239185,5.322099,5.366508,5.427080,5.479444,5.521405,5.532866,5.586701,5.596422,5.644844,...,4.531769,3.996008,3.452643,3.781557,3.850833,3.919287,4.185357,3.951857,3.675647,3.849603
Angola,4.977924,5.151810,5.090493,4.967321,4.743085,4.496285,4.302405,4.283800,4.574056,5.239910,...,4.853340,4.751019,4.688145,4.620862,4.500115,4.402191,4.242778,4.111786,4.013086,3.918632
Albania,3.893010,3.289207,3.182265,3.112068,2.984828,2.864945,2.859929,3.071746,3.219848,3.157619,...,1.646116,1.484764,1.544014,1.541285,1.317162,1.071414,0.857611,0.443404,0.093716,0.103888
Andorra,12.117965,11.510422,10.951496,10.414167,9.882273,10.001866,10.704486,10.706091,10.085497,9.557405,...,0.246586,0.066285,0.990597,1.660741,1.480831,1.669358,1.684409,1.636346,0.940293,0.287770

## Dataset #4 Percent Population Living in Urbanized Areas Dataset

In [13]:
# reading in the csv file
urban_pop_df = pd.read_csv('datasets/share-of-population-urban.csv')

# removing non values
urban_pop_df.dropna(how='all')
# dropping the country codes, as we won't be using them
urban_pop_df.drop('Code', axis=1, inplace=True)

# making a new dataset that holds only income levels as observations
# urban_pop_incomes has observations for different income levels, and their percent urban population over various years
urban_pop_incomes = urban_pop_df[ (urban_pop_df['Entity'] == 'High-income countries') | \
    (urban_pop_df['Entity'] == 'Low-income countries') | (urban_pop_df['Entity'] == 'Lower-middle-income countries') | \
    (urban_pop_df['Entity'] == 'Middle-income countries') | (urban_pop_df['Entity'] == 'Upper-middle-income countries') ]

# creating a new dataset by removing observations that are not countries (continents or income levels) to have only countries
# urban_pop_countries has observations for different countries, and their percent urban population over various years
urban_pop_countries = urban_pop_df[ (urban_pop_df['Entity'] != 'Channel Islands') & \
    (urban_pop_df['Entity'] != 'East Asia and Pacific (WB)') & (urban_pop_df['Entity'] != 'Europe and Central Asia (WB)') & \
    (urban_pop_df['Entity'] != 'European Union (27)') & (urban_pop_df['Entity'] != 'Faeroe Islands') & \
    (urban_pop_df['Entity'] != 'High-income countries') & (urban_pop_df['Entity'] != 'Latin America and Caribbean (WB)') & \
    (urban_pop_df['Entity'] != 'Low-income countries') & (urban_pop_df['Entity'] != 'Lower-middle-income countries') & \
    (urban_pop_df['Entity'] != 'Middle East and North Africa (WB)') & (urban_pop_df['Entity'] != 'Middle-income countries') & \
    (urban_pop_df['Entity'] != 'North America (WB)') & (urban_pop_df['Entity'] != 'South Asia (WB)') & \
    (urban_pop_df['Entity'] != 'Sub-Saharan Africa (WB)') & (urban_pop_df['Entity'] != 'Upper-middle-income countries') & \
    (urban_pop_df['Entity'] != 'World') ]

urban_pop_df.head()

        Entity  Year  Urban population (% of total population)
0  Afghanistan  1960                                     8.401
1  Afghanistan  1961                                     8.684
2  Afghanistan  1962                                     8.976
3  Afghanistan  1963                                     9.276
4  Afghanistan  1964                                     9.586

## Dataset #5 GDP Per Capita by Country

In [14]:
# import dataset
gdp_df = pd.read_csv('datasets/gdp-per-capita-by-country.csv')


# rename first column to 'Country'
gdp_df.rename(columns={'GDP per capita, current prices\n (U.S. dollars per capita)': 'Country'}, inplace=True)


# drop columns 1980-2022 inclusive and 2025-2029 inclusive
columns_to_drop = [str(year) for year in range(1980, 2023)] + [str(year) for year in range(2025, 2030)]
gdp_df = gdp_df.drop(columns=columns_to_drop)


# drop non-country rows
gdp_df = gdp_df.drop(index = [0] + list(range(197,231)))


# replace values with 'no data' with NA
gdp_df.replace('no data', pd.NA, inplace=True)


# fill in missing 2024 values with 2023 values
gdp_df['2024'] = gdp_df['2024'].fillna(gdp_df['2023'])
# drop rows that are missing 2023 and 2024 values
gdp_df.dropna(subset=['2023', '2024'], inplace=True)

gdp_df.head()

       Country       2023      2024
1  Afghanistan    410.933   410.933
2      Albania   8299.278  9598.191
3      Algeria   5221.813  5579.128
4      Andorra  43809.726  45278.52
5       Angola   2967.384   2961.34

# Ethics & Privacy

We need to address the fact that if there is a positive correlation this is not causation. Making more urban areas or moving to an urban area does not mean you/your citizens will be happier. In considering the ethical and privacy-related aspects of our analysis, we believe that the data we used is unbiased and respects privacy. Our primary sources include the World Happiness Report, World Bank, etc., which are reputable and widely-cited resources that offer open access to data. Additionally, all data is collected at the national or regional level, ensuring that privacy of individuals is protected as no personal data is used.

However, measuring complex variables like happiness is a difficult task as reports like The World Happiness Report relies on subjective survey responses and includes a limited range of factors that may not capture the full depth of variables contributing to happiness. This could lead to biases or misreports on how happiness is rated. Similarly, measurements like GDP per capita and life expectancy may depict values that do not account for the true well-being of people in a certain society, region, or environment. Additionally, variables like government type may not fully capture the difference of political systems in different countries as some forms of government may not fit into a specified category. We recognize that these measures may not fully address the complexities of variables we measure in this research project.

Despite these limitations and constraints, we chose datasets that are widely-used and accepted. We are aware that research may not provide a definitive method of measuring the correlation between a country's percent of urban population and its happiness levels. While we aim to explore the potential relationship between these variables, we recognize that happiness and well-being is complex and can be influenced by a wide range of variables. Therefore, we explore a variety of additional variables and their relationship to happiness levels in addition to a country's urban population percentage. Our findings should be interpreted as an initial exploration rather than a comprehensive and definitive measure of happiness.

# Team Expectations

Schedule weekly meetings or more as needed that everyone attends unless someone has a conflict or health problem. 

Meetings will take place virtually or in-person but more often in person.

Team members will communicate thought text messages in the group chat created.

Decisions will come to a unanimous vote. This means if someone does not agree we either communicate our problems and come to an agreement or compromise and change our plans to fit everyone's thoughts.

Work together during meetings and evenly divide up any remaining work together.

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 11/14  |  2pm | Edit, finalize, and submit proposal; search for datasets  | Check in with team members; discuss wrangling and analytical approaches; assign roles for upcoming project component | 
| 11/21  |  2pm |  Begin data wrangling and EDA | Check in with team members; review initial data wrangling and exploratory data analysis (EDA); discuss analysis plan | 
| 11/28  | 2pm  | Continue wrangling and EDA; start analysis  | Check in with team members; review/edit analysis progress; prepare for project check-in |
| 12/5  | 2pm  | Complete analysis; draft results/conclusion | Check in with team members; review/edit the entire project; finalize all components for submission  |